@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Dynalight&family=Quicksand:wght@300..700&display=swap');




body {
    @apply bg-black;
    font-family: "Space Grotesk", sans-serif;
  }

  .fontDyna{
    font-family: "Dynalight", cursive;

  }
  .overlay {
    background: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    padding: 20px;
  }